* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1068px;
  margin: 0 auto;
}

.form {
  padding: 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 100%;
  max-width: 630px;
}

.form__line {
  width: 100%;
  max-width: 630px;
}

.form__title {
  margin-bottom: 30px;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #9FDC6E;
  border-radius: 29px;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  max-width: 480px;
  padding: 16px 0px;
}

.btn._fw {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  max-width: 480px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: inherit;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.25;
}

.input._focus {
  color: #9FDC6E;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  opacity: 1;
  text-align: center;
}

textarea.input {
  color: red;
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  margin-top: 40px;
  margin-bottom: 20px;
}

.checkbox__contract {
  color: #9FDC6E;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  font-family: 'Inter';
  font-size: 12px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #9FDC6E;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label:after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: '';
  width: 8px;
  height: 8px;
  top: 8px;
  left: 8px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  display: contents;
  color: #9FDC6E;
  text-decoration: none;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-item._active .cards-item__bottom {
  background: #FFE352;
}

._tabs-item._active .cards-item-bottom__text {
  color: black;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: none;
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  max-width: 630px;
}

.popup__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: -5px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 30;
  background: #9FDC6E url("../img/icons/close.svg") center no-repeat;
}

.header {
  margin-top: 40px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 17px 77px 17px 55px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
  border-radius: 29px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #9FDC6E;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 45px;
}

.admin__link {
  font-family: 'Inter';
  color: #9FDC6E;
  font-weight: 500;
  font-size: 15px;
}

.admin__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  margin-left: 77px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.admin:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #9FDC6E;
}

.admin:hover .admin__link {
  color: #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: black;
}

.links {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
}

.links__telegram {
  color: #40A3FF;
}

.links__whatsapp {
  color: #9FDC6E;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header__text {
  font-family: Inter;
  color: #9FDC6E;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.span {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
  color: #9FDC6E;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.col-30 {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.col-30__span {
  color: #9FDC6E;
}

.col-30__middle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-30__middle {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.col-30__middle__span {
  color: #9FDC6E;
}

.col-30__last {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.col-30__middle_frame {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.col-30__middle_frame__span {
  color: #9FDC6E;
}

.footer__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #B8B8B8;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

.inner__button {
  padding: 19px 151px;
  margin-bottom: 60px;
  font-family: 'Inter';
  font-size: 15px;
  background: #9FDC6E;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

.inner__button:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #65ea53;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
}

.prices__big-price {
  font-size: 50px;
}

.prices__small-price {
  color: #9FDC6E;
  font-size: 25px;
  margin-left: 5px;
}

.container {
  max-width: 1068px;
  margin: 0 auto;
  width: 100%;
}

.container {
  font-family: 'Inter';
  max-width: 1068px;
  margin: 0 auto;
  width: 100%;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -13px;
}

.cards-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding: 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.cards-item:active .cards-item__bottom {
  background: #FFE352;
}

.cards-item:active .cards-item-bottom__text {
  color: black;
}

.cards-item:checked .cards-item__bottom {
  background: #FFE352;
}

.cards-item:checked .cards-item-bottom__text {
  color: black;
}

.cards-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cards-item-top {
  background: #fff;
  padding: 35px 10px 23px 10px;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.cards-item-top__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin: 0px 0px 25px 0px;
  color: #000000;
}

.cards-item-top__img {
  margin: 0px 0px 30px 0px;
  width: 85px;
  height: auto;
}

.cards-item-top__price {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.cards-item-top__text {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.card-item-top__profit {
  font-size: 13px;
  color: #9FDC6E;
}

.cards-item-bottom {
  width: 100%;
  background: #9FDC6E;
  border-radius: 0 0 20px 20px;
  padding: 16px 0px;
  position: relative;
  z-index: 1;
  margin: -20px 0px 0px 0px;
  padding: 36px 16px 16px 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-percent {
  color: #9FDC6E;
}

.cards-item-bottom__text {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.zero {
  display: none;
}

.ref {
  margin-top: 41px;
  margin-bottom: 21px;
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.span-ref {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
  color: #9FDC6E;
}

.card-input {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 440px;
  margin-bottom: 15px;
  text-align: center;
}

.card-input__left {
  padding-right: 30%;
  text-align: inherit;
}

.card-input::-webkit-input-placeholder {
  padding-left: 200%;
}

.card-input::-moz-placeholder {
  padding-left: 200%;
}

.card-input:-ms-input-placeholder {
  padding-left: 200%;
}

.card-input::-ms-input-placeholder {
  padding-left: 200%;
}

.card-input::placeholder {
  padding-left: 200%;
}

.card-input__enter {
  position: absolute;
  padding-left: 60px;
  padding-right: 60px;
  width: 100px;
  max-width: 150px;
  right: 0;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1080px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .contacts__number {
    font-size: 16px;
  }

  .contacts-header__text {
    font-size: 11px;
  }

  .logo-header__text {
    display: none;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 991px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .footer__text {
    margin-bottom: 15px;
  }

  .col-30 {
    width: 100%;
  }

  .col-30__middle {
    width: 100%;
    padding: 0 20px;
  }

  .col-30__middle_frame {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .col-30__last {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .admin {
    margin-right: 0;
  }
}

@media (max-width: 868px) {
  .container {
    max-width: none;
    padding: 0 10px;
    margin: 0;
    margin-top: 5px;
  }

  .cards-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 750px) {
  .header {
    margin-top: 15px;
  }

  .links__telegram {
    font-size: 11px;
  }

  .links__whatsapp {
    font-size: 11px;
  }

  .user-header {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .cards-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .cards-item:nth-child(1) {
    margin-right: -10px;
  }

  .cards-item:nth-child(3) {
    margin-right: -10px;
  }

  .cards__row {
    margin-top: -20px;
  }
}

@media (max-width: 570px) {
  .form {
    padding: 25px 30px;
  }
}

@media (max-width: 480px) {
  .admin {
    width: 100%;
    max-width: 130px;
    padding: 11px 56px 11px 28px;
  }

  .admin__image {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }

  .cards-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .cards-item-top__text {
    font-size: 13px;
  }

  .cards-item-bottom__text {
    font-size: 13px;
  }

  .inner {
    padding-top: 5px;
  }
}

@media (max-width: 425px) {
  .col-30 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .col-30__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 420px) {
  .prices__big-price {
    font-size: 30px;
  }

  .prices__small-price {
    color: #9FDC6E;
    font-size: 20px;
    margin-left: 10px;
  }
}

@media (max-width: 370px) {
  .card-input__enter {
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    width: 100px;
    max-width: 150px;
    right: 0;
  }
}